{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comments</title>
    <link rel="stylesheet" href="{% static 'comments.css' %}">
</head>
<body>
    <h1 class="page-header">Comments Page</h1> <!-- Added header indicating this is the comments page -->

    <div class="background">
        <a href="{{ post.link }}">
            <h1 class="title">{{ post.title }}</h1>
        </a>
        
        {% for comment in comments_s %}
            <div class="comment">
                <p>{{ comment.text }}</p>
            </div>
        {% endfor %}
        <form action="{% url 'update' post.id %}" >
        {% csrf_token %}
        <button >Edit post</button>
        </form>
        <form action="{% url 'delete' post.id %}" method="post" >
            {% csrf_token %}
            <input type="hidden" name="_method" value="delete">
            <button type="submit" >Delete post</button>
        </form>
    </div>
</body>
</html>
