{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'home.css' %}">
</head>
<body>
    <div class="header">
        <div class="img">
            <img src="https://news.ycombinator.com/y18.svg" alt="">
        </div>
        <div class="hackernews">
            <strong>Hacker News</strong>
        </div>
        <div class="login">
            <a href="/submit">(Submit) |</a>
            {% if user.is_authenticated %}
                <a class="logout" href="/accounts/logout/">Log out</a>
                User: {{ user }}
            {% else %}
                <a href="/accounts/login/">Log in</a>
            {% endif %}
        </div>
    </div>  
    
    <div class="background">
        
        <ol class="custom-ordered-list" >
            {% for post in page_obj %}
            <li>
                <form method="post" action="{% url 'upvote_post' post.id %}">
                    {% csrf_token %}
                    <div class="posts">
                        <div class="span">
                            <div>
                                <button type="submit">
                                    <img src="https://www.svgrepo.com/show/334337/upvote.svg" alt="" height="15px">
                                </button>
                            </div>
                            <div class="title">
                                <a href="{{ post.link }}">
                                    {{ post.title }}
                                </a>
                            </div>
                        </div>
                        <div class="lower">
                            By: {{ post.author }} | (Upvotes: {{ post.upvotes }}) | {{ post.time_added.date }} | <a href="{% url 'comments' post.id %}">{{ post.comments.count }} Comment(s)</a> 
                        </div>    
                    </div>
                </form>
            </li>
            {% endfor %}
        </ol>
    </div>
    <div class="pagination">
        <span class="step-links">
          {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
          {% endif %}
      
          <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </span>
      
          {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
        </span>
      </div>
</body>
</html>
