body{
    background-image: url('https://source.unsplash.com/random/1600x900');
}

.posts{
    padding-bottom: 5px;
    padding-left: 5px;
    padding-top: 7px;
}   
    
a{
    text-decoration: none;
}

.span{
    display: flex;
    align-items: center; 
}

.span div {
    margin-right: 10px; /* Add spacing between post ID and post title */
}

.title{
    
    font-size: medium;
    text-decoration: none;
}
.background{
    width: 85%;
    margin: 0 auto;
    background-color: #e3e0e0;
    padding-bottom: 10px;
    padding-top: 0px;
}
.lower{
    font-size: small;
    color:rgb(76, 74, 74);
    padding-left:34px;
    padding-top: 5px;
}

.custom-ordered-list{
    color:rgb(105, 103, 103);
    margin-top: 1px;
}

.header{
    display: flex;
    background-color: orangered;
    width: 85%;
    margin: 0 auto;
    margin-bottom: 0px;
}

.img{
    padding: 7px;
}

/* Add the following CSS rules for the login div */
.login {
    margin-left: auto; /* Pushes login div to the right */
    padding: 0 10px;
    padding-top: 7px; /* Add padding for spacing */
}
.hackernews{
    padding-top: 8px;
}
.logout{
    padding-right: 6px;
}

/* styles.css */

.pagination {
    text-align: center;
    margin-top: 20px;
  }
  
  .step-links {
    display: inline-block;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
  }
  
  .step-links a {
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .step-links a:hover {
    background-color: #ddd;
  }
  
  .current {
    font-weight: bold;
  }
  